.message
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?



.chat-main__message-list
  .chat-main__message-list__box
    .chat-main__message-list__box--name
      masa
      .chat-main__message-list__box--name--time
        2020/6/12(Fri) 23:48
    .chat-main__message-list__box--message
      おはよう
